body{
    background-color: #F2FEDC;
    text-align: center;
    margin: 0;
}

#header{
  background-color: #1B3D2F;

height: 6vw;
margin: 0;

}

.headerAssset{
  margin-top: 1%;
  display: inline-block;
vertical-align: middle;
}


.leftArrow{

  width: 24vw;
      height: 3vw;
  text-align: left;


}

.logo{
  width: 50vw;
  height: 4vw;
text-align: center;
position: relative;
}


.rightArrow{

width: 24vw;
  height: 3vw;
text-align: right;
}


.flower {
  position: absolute;
  width: 6%;
  left: 18vw;
  padding: 0;
  bottom: .5vw;
  animation: Oflower 12s infinite linear;
}

@keyframes Oflower {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.leftPic{
max-width: 100%;
max-height: 100%;
margin-left: 1vw;
}

.logoPic{
max-width: 100%;
max-height: 100%;
}

.rightPic{
    margin-right: 1vw;
max-width: 100%;
height: 100%;
}

.hover{
    transition: .3s ease;
}

.hover:hover{
  transform: scale(110%);
}



#main{
  margin-top: 0;
  width: 100%;
  background-image: url("emma.svg");
  background-repeat: no-repeat;
  background-size: cover;
height:43vw;
background-position: 0 5%;
background-size: 70%;
}

.container{
  width: 40%;
position: relative;

}

.aboutmeDiv{
  display: inline-block;
height: 28vw;
width: 87%;
background-color: #E0512B;
position: absolute;
left: 58vw;
margin-top: 20%;
}

.aboutmeHeader{
  position: absolute;
  top: -21%;
right: 21.5vw;
width: 75%;
}

.aboutmeBlurb{
    font-family: degular-text, sans-serif;
    color: #F2FEDC;
    margin-top: 0;
    padding: 9% 12% 0 12%;
    font-size: 1.6vw;
    text-align: justify;
    line-height: 1.4vw;
    letter-spacing: .2vw;

}

/* media query */
@media screen and (max-width: 700px) {
#main{
  height: 80vw;
}
}
