body {
  background-color: #F2FEDC;
  text-align: center;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.inline {
  display: inline-block;
}

#animatedBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://raw.githubusercontent.com/emmajeanne/personalSite/8c9420c03da10da34507f154266fce344db94a2e/public/contactBack.svg);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 33% 99.55vw;
  animation: animatedBackground 60s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 0 99vw;
  }
}

#header {
  background-color: #1B3D2F;
  height: 6vw;
  margin: 0;
}

.headerAssset {
  margin-top: 1%;
  vertical-align: middle;
}

.leftArrow {
  width: 24vw;
  height: 3.3vw;
  text-align: left;
  margin-left: -1%;
}

.logo {
  width: 50vw;
  height: 4vw;
  text-align: center;
  position: relative;
}

.rightArrow {
  width: 24vw;
  height: 3.3vw;
  text-align: right;
  margin-right: -1%;
}

.flower {
  position: absolute;
  width: 6%;
  left: 18vw;
  padding: 0;
  bottom: .5vw;
  animation: Oflower 12s infinite linear;
}

@keyframes Oflower {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.leftPic {
  max-width: 100%;
  max-height: 100%;
  margin-left: 0;
  transition: .5s ease;
}

.leftPic:hover {
  margin-left: 4%;
}

.logoPic {
  max-width: 100%;
  max-height: 100%;
}

.rightPic {
  margin-right: 0;
  max-width: 100%;
  height: 100%;
  transition: .5s ease;
}

.rightPic:hover {
  margin-right: 4%;
}

.hover {
  transition: .3s ease .3;
}

.hover:hover {
  transform: scale(110%);
}

/* LANDING */
#main {
  width: 100%;

}

/* contact block */
.contactBlock {
  height: 30vw;
  width: 50%;
  background-color: #E0512B;
  position: absolute;
  left: 26%;
  margin-top: 5%;

}

.contactHeader {
  position: absolute;
  width: 12vw;
  left: -6vw;
  top: 0;
}

img.contactHeader{
  max-width: 100%;
  max-height: 100%;
}


.contactTxt{
  margin-top: 1%;
}

div.contactTxt h2{
  font-family: degular-diplay, sans-serif;
  color: #F2FEDC;
  font-size: 2.6vw;
  letter-spacing: -.25vw;
  margin-bottom: 0
}

div.contactTxt p{
  margin-top: 0;
  font-family: degular-text, sans-serif;
  color: #F2FEDC;
  text-align: left;

  font-size:1.5vw;
  letter-spacing: .5vw;
}

div.contactTxt img{
  width: 15vw;
  vertical-align: middle;
  margin-top: 2.5%;
}

.contactButton{
background-color:  #F2FEDC;
width: 30vw;
height: 8vw;
margin-top: 2.5vw;
  transition: .3s ease;
  overflow: hidden;
border-width: .3vw;
border-style: solid;
border-color: #1B3D2F;
display: inline-block;
}

.contactButton:hover{
  transform: scale(103%);
}

.btnTxt{
  font-family: degular-display, sans-serif;
  color: #1B3D2F;
  font-size: 3vw;
  margin-top: 2vw;
  margin-left: 2vw;
  transition: 1s ease;
  width: 36vw;
}

.contactButton:hover .btnTxt{
margin-left: -3vw;
}

a{
  text-decoration: none;
}

.orTwo{
opacity: 0;


}

.contactButton:hover .orTwo{
  animation: fadeIn .3s;
      animation-delay: .5s;
      animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }

.email{
  font-family: degular-text, sans-serif;
  color: #F2FEDC;
  text-align: center;
margin-top: 4vw;
  font-size:1.8vw;
  letter-spacing: .5vw;
}
