body{
    background-color: #F2FEDC;
    text-align: center;
    margin: 0;
    overflow: hidden;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.inline {
  display: inline-block;
}


#header {
  background-color: #1B3D2F;
  height: 6vw;
  margin: 0;
}

.headerAssset {
  margin-top: 1%;
  vertical-align: middle;
}

.leftArrow {
  width: 24vw;
  height: 3.3vw;
  text-align: left;
  margin-left: -1%;
}

.logo {
  width: 50vw;
  height: 4vw;
  text-align: center;
  position: relative;
}

.rightArrow {
  width: 24vw;
  height: 3.3vw;
  text-align: right;
  margin-right: -1%;
}

.flower {
  position: absolute;
  width: 6%;
  left: 18vw;
  padding: 0;
  bottom: .5vw;
  animation: Oflower 12s infinite linear;
}

@keyframes Oflower {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.leftPic {
  max-width: 100%;
  max-height: 100%;
  margin-left: 0;
  transition: .5s ease;
}

.leftPic:hover {
  margin-left: 4%;
}

.logoPic {
  max-width: 100%;
  max-height: 100%;
}

.rightPic {
  margin-right: 0;
  max-width: 100%;
  height: 100%;
  transition: .5s ease;
}

.rightPic:hover {
  margin-right: 4%;
}

.hover {
  transition: .3s ease .3;
}

.hover:hover {
  transform: scale(110%);
}
/* DISCO */

.discoBack{
  position: absolute;
  width: 100%;
 }

.discoImg {
  display: inline-block;
  width: 30vw;
}

.discoImgL {
  margin: 0 25vw 0 -6vw;
  transform: scaleX(-1);
  
}

.discoImgR {
  margin: 0 -6vw 0 25vw;
}

/* CONDOM */

.condom{
    width: 80vw;
    margin: 2vw 0 0 10vw;
    
   
}

.condomCaption{
    background-color: #E0512B;
    display: inline-block;
    width: 20%;
    height: 26.5vw;
    color: #F2FEDC;
    text-align: left;
    padding: 1vw;
 
}

.condomTitle {
    font-family: degular-display, sans-serif;
    font-size: 3.3vw;
    line-height:2.9vw;
    margin: 0;

  
}

.condomBlurb {
    font-size: 1.3vw;
    font-family: degular-text, sans-serif
}

.condomSpan {
    font-size: 2.8vw;
    font-family: degular-text, sans-serif;
}

.condomPic {
    display: inline-block;
    width: 69%;
    vertical-align: top;
}

div.condomPic img {
    max-width: 100%

}
